<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Admission System</title>
    <style>
    </style>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="css/roboto.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

    <!-- page heading -->
    <h1 class="display-3 text-center bg-light p-2 mb-0">College Admission System</h1>

    <!-- including navbar for admin -->
    <%- include('partials/adminNavbar',{title:title}); %>

    <div class="container">

        <!-- main card for showing courses -->
        <div class="card mainCard col-9 m-5 mx-auto">

            <!-- card heading -->
            <div class="card-header mainHeader bg-dark text-white lead text-center rounded m-3 p-2">
                <i class="fa fa-search"></i> Search for a College
            </div>

            <div class="card-body row">

                <div class="col-12">
                    <label for="collegeName" class="lead">Enter the College Name</label>
                    <input type="text" class="form-control" id="collegeName" placeholder="College Name">
                </div>

            </div>
        </div>

        <!-- colleges found will be added in js -->
        <div id="colleges"></div>
    </div>

    <!-- page specific js -->
    <script src="js/collegeCourses.js"></script>

    <!-- libraries for bootstrap -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>