<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Admission System</title>
    <style>
    </style>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="css/roboto.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!-- page heading -->
    <h1 class="display-3 text-center bg-light p-2 mb-0">College Admission System</h1>

    <!-- including admin navbar -->
    <%- include('partials/adminNavbar',{title:title}); %>

    <div class="container">

        <% if (typeof success!='undefined') { %>
            <div class="mt-3">
                <%- include('partials/alertSuccess',{title:success.title,content:success.content})  %> 
            </div>
        <% } %>

        <!-- main card for delete student -->
        <div class="card mainCard m-5">
            <div class="card-header mainHeader text-center bg-dark text-white rounded m-3 p-2 lead">
                Delete Student By their ID
            </div>

            <div class="card-body">

                <!-- form for delete student -->
                <form method="POST" enctype="application/x-www-form-urlencoded">

                    <div class="form-row">

                        <div class="col-10">
                            <input type="text" class="form-control" name="studentID" id="studentID" placeholder="Student ID">
                        </div>

                        <div class="col-2">
                            <button type="submit" id="delete" class="btn btn-primary btn-block"><i class="fas fa-trash"></i> Delete</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>

        <!-- profile added in js -->
        <div id="profile"></div>

    </div>

    <!-- page specific js -->
    <script src="js/deleteStudent.js"></script>


    <!-- libraries for bootstrap -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>
