<!-- Alert for Success message -->
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <!-- Alert title -->
  <strong><%=title  %> </strong> | <!-- Alert Content --> <%= content  %> 

  <!-- Alert Close -->
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>