<!-- Footer for main pages -->
<footer class="bg-dark page-footer text-white p-4">
    
    <!-- Copyright details -->
    <div class="text-center mb-3">
        &copy; CopyRight College Admission System
    </div>

    <!-- Social media icons -->
    <div class="text-center">
        <div class="template-demo"> 
            <button type="button" class="btn btn-social-icon btn-outline-facebook"><i class="fab fa-facebook"></i></button> 
            <button type="button" class="btn btn-social-icon btn-outline-youtube"><i class="fab fa-youtube"></i></button>
            <button type="button" class="btn btn-social-icon btn-outline-twitter"><i class="fab fa-twitter"></i></button> 
            <button type="button" class="btn btn-social-icon btn-outline-linkedin"><i class="fab fa-linkedin"></i></button> 
            <button type="button" class="btn btn-social-icon btn-outline-instagram"><i class="fab fa-instagram"></i></button> 
        </div>
    </div>
    
</footer>